<h3>contato</h3>
<div>
<label for="name">
  Usuario
</label>
<input id="name" type="text" formControlName="name">
</div>

<div>
<label for="telefone">
  telefone
</label>
<input id="telefone" type="text" formControlName="name">
</div>

<div>
  <label for="cpf">
    cpf
  </label>
  <input id="cpf" type="text" formControlName="name">
  </div>

  <div>
    <label for="email">
      email
    </label>
    <input id="email" type="text" formControlName="name">
    </div>

<div>
  <label for="Periodo">
    Periodo
  </label>
  <input id="Periodo" type="text" formControlName="name">
  </div>
<button class="button" type="submit">Alugar</button>
<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  
  <span>{{ shipping.nome }}</span>
  <span>{{ shipping.telefone}}</span>
  <span>{{ shipping.cpf}}</span>
  <span>{{ shipping.email}}</span>

</div>
